<input  type="text" id="{{ label_for }}"
        data-custom="{{ field_custom_data }}"
        name="{{ field_name }}"
        value="{{ field_value }}"
        style="width: 22rem;">
<p>Note: the url need to end with a <strong>trailing slash</strong></p>
<p>E.g: <i>https://api.yourdomain.com/v1/</i></p>
