<select id="{{ label_for }}" data-custom="{{ field_custom_data }}" name="wporg_options[{{ label_for }}]">
    <option value="red">
    red pill
    </option>
    <option value="blue">
    blue pill
    </option>
</select>
<p class="description">
    assadasd as das da
</p>
