<input  type="text" id="{{ label_for }}"
        data-custom="{{ field_custom_data }}"
        name="{{ field_name }}"
        value="{{ field_value }}"
        style="width: 22rem;">&nbsp;Minutes
<p>Note: <strong>use 30 by default</strong> please - this is in Minutes</p>
