<input  type="text" id="{{ label_for }}"
        data-custom="{{ field_custom_data }}"
        name="{{ field_name }}"
        value="{{ field_value }}"
        style="width: 22rem;">
<p>Note: please use a naming in the format: <strong>BLOGNAME-ENVIRONMENT</strong></p>
<p>E.g: <strong>MUUK-STAGING</strong> for Manchester United (UK)'s staging blog</p>
